.App {
  text-align: center;
}

/* MAIN */
.main {
  text-align: center;
}

.main__header {
  font-size: 4em;
  color: #126e82;
}

.main__content h2 {
  margin-top: 1em;
  color: #126e82;
}

.main__content p {
  word-wrap: break-word;
  width: 50%;
  margin: auto;
}

@media (max-width: 1024px) {
  .main__content p {
    word-wrap: break-word;
    width: 100%;
    margin: auto;
  }
}
